.main-header {
	min-height: 70px;
} 

.container {
	width: 940px;
	padding: 0 10px;

	min-height: 70px;
}

.main-navigation {
	float: left;
	width: 780px
}
.user-block {
	float: right;
	width: 140px;
}